@import url('https://fonts.googleapis.com/css2?family= Roboto :wght@400;500;900 & display=swap');

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
}

.logo{
    height: 75px;
}

.img-header{
    background-image:  linear-gradient(rgba(251,239,183, 0.8),
     rgba(251,239,183, 1)), url(/img/vrum.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-top: 30px;
}

 nav ul{
    display: flex;
    align-items: center;
 }

nav ul a{
    color: #000;
    margin: 0 15px;
    text-transform: uppercase;
    font-size: 20px;
    display: block;
}

.list-header a:hover{
    border-bottom:  solid 3px  black ;
}



.prin{
    background-color: #000  ;
    color: rgb(255, 255, 255);
    padding: 15px 30px;
    border-radius: 20px;
    cursor: pointer;
    display: inline-block;
}

.prin:hover{
    background-color: #1e1e1e;
}

.prin:not(.list-header a:hover){
    border-bottom:  solid 3px  black ;
}

.baner{
    display: flex;
    justify-content: center;
}

.baner .ban{
    margin: 150px;
    text-align: center;
    padding: 0 40px;
}

.ban h1{
    font-size: 90px;
}

.ban p{
    font-size: 25px;
}

.first-section{
    width: 99vw;
    height: 98vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

.container{    
    margin: 0 auto;
    padding: 0% 3%;
}

.branco{
    background-color: rgb(250, 249, 249);
    position: relative;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 3%;
    margin-right: 3%;
    margin-top: 25px;
    text-align: center;
}

.branco h1{
    padding-top: 10px;
    font-size: 35px;
}

body{
    background-color: rgb(251,239,183, 1);
}



menu{
    display: none;
    
}

menu > ul > li {
    display: block;
    padding: 10px;
    text-align: left;
    position: relative;
    font-size: 16px; /* Altere o valor conforme necessário para aumentar ou diminuir o tamanho do texto */
}

menu > ul > li::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 10px;
    background: linear-gradient(#000000, rgba(0,0,0,0));
    z-index: -1;
}
#burg{
    border-top: 4px solid (#000000) ;
    display: block;
    color: rgb(0, 0, 0);
    cursor: pointer;
    align-items: center;
    font-size: 30px;
}

span#tamanho{
    font-size: 40px;
  font-variation-settings: 'OPSZ' 40;

}

#burg:hover{
    background-color: #fbf2c5;
    color: #1e1e1e;
}

footer{
    background-color: #000;
}
